*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", sans-serif;
    
}

header{
        background-size: cover;
        background-repeat: no-repeat;
    font-family: "Noto Kufi Arabic", sans-serif;
        height: 120vh;
        width: 100%;
        background-image:  linear-gradient(rgba(194,30,68,0.9)    ,rgba(107,55,106,0.9)),url("https://youcan.shop/images/home_page_images/header-2.webp");
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box101 {
    flex:1 1 900px;
    margin:20px;
}
.btns{
    margin-left: 30px;
}

.btns button{
    padding: 8px 18px;
    margin: 8px;
    cursor: pointer;
}

select{
    padding: 8px 25px;
    background-color: transparent;
    border: none;
    color: white;
}
option{
    color: grey;
}
#btnaa{
    background-color: #1FBADF;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    width: 103.17px;
    height: 40px;
    padding: 8px 40px;
    font-size: 20px;
    line-height: 24px;
}

#btnaaa{
    background-color: rgba(152,96,132,0.4);
    color: white;
    font-size: 20px;
    border: 1px solid rgba(152,96,132,0.4);
    border-radius: 8px;
    font-weight: 400;
    width: 124.59px;
    height: 40px;
    line-height: 24px;
    padding: 8px 12px;
    font-style: normal;
}

#btnaaaa{
    background-color: rgba(152,96,132,0.4);
    color: white;
    font-size: 20px;
    border: 1px solid rgba(152,96,132,0.4);
    border-radius: 8px;
    font-weight: 400;
    width: 124.59px;
    height: 40px;
    line-height: 24px;
    padding: 8px 12px;
    font-style: normal;
    margin-top: 16px;
    cursor: pointer;
}
 .logo img{
    width: 128px;
    height: 37.78px;
}

/* .logo img{
    width: 66%;
}
.parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items:center;
}
.box1 img{
    margin: 0 auto;
    display: block;
    width: 100%;
    position:relative;
}
.box1 h1{
    text-align: center;
    color: white;
   
   
}
.h11 {
    margin-top:-230px !important;
}
.box2 h1{
margin-top: 140px !important;
margin-right:20px;
color: white;
}
.box2 h1{
    font-size: 3rem;
    width: 79%;
    margin-bottom: 10px;
}
.box2 h2{
    font-size: 2rem;
    margin-bottom: 10px;
    width: 74%;
}
.box2 h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.box2 input{
    padding: 12px 90px;
    border-radius: 4px;
    border: none;
}
.box2 button{
    padding: 12px 45px;
    background-color: #1FBADF;
    color: white;
    cursor: pointer;
    border: none;
  
} */

#features{
    height: 100vh;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    height: 120vh;
}

#features small{
    font-size:20px;
    font-family: "Noto Kufi Arabic", sans-serif;

}

#features h3{
    padding-bottom: 15px;
    font-size: 40px;
    font-family: "Noto Kufi Arabic", sans-serif;

}
.boxarent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    place-items: center;
    gap: 40px;
}
.box{
    text-align: center;
}
.box img{
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 80px;
    padding-bottom: 15px;
}
.box h2{
    padding-bottom: 15px;
    font-family: "Noto Kufi Arabic", sans-serif;


}
.box p{
    padding-bottom: 15px;
    color: #374151;
    font-family: "Noto Kufi Arabic", sans-serif;


}

.abtn{
  width: 180px;
  height: 60px;
    background-color: #1FBADF;
    color: #ffffff;
    cursor: pointer;
    border: none;
   font-size: 20px;
   margin-bottom: 20px;
   font-family: "Noto Kufi Arabic", sans-serif;
   font-weight: 600;
   line-height: 28px;

}

#questions{
    /* height: 140vh; */
    width: 100%;
    background-color: #752651;
}

#questions{
    padding-top: 30px;
    margin-bottom: 120px;
}
#questions h1{
    text-align: center;
    color: white;
    padding-bottom: 11px;
    font-style: normal;
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;

}

#questions h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 36px;
    font-size: 30px;
    font-weight: 600;
}
.boxpare{
    background-color: white;
    width: 90%;
    height: 140vh;
    margin-left: 5%;
    border-radius: 22px;  
    box-shadow: 0px 15px 10px -15px #111;    
  
}
.boxparent{
  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 10px;
   
}

.read{
   margin: 0 auto;
   display: block;
    padding: 10px 30px;
    background-color: #1FBADF;
    border: none;
    font-weight: 600;
    font-style: normal;
    line-height: 28px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 128px;
    height: 60px;
}
.boxa1 p {
    border-bottom: 0.1px solid #F5F5F5;
    padding-bottom: 20px;
    padding-top: 10px;
        padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    color: #111827;
    font-family: 'Noto Kufi Arabic', sans-serif;
    text-align: start;
}

.boxa1{
    border: 1px solid #E5E7EB;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 15px 15px -15px #E5E7EB;    
}

.left{
    margin-left: 11px;
}
.right{
    margin-right: 11px;
}
.boxa1 h3{
    padding-bottom: 30px;
    padding-top: 15px;
    font-size: 16px;
    padding-right: 15px;
    line-height: 26px;
    color: #374151;
    text-align: start;
    font-weight: 400;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-style: normal;

}
.boxa2{
    border: 1px solid #E5E7EB;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 15px 15px -15px #E5E7EB;    

}
.boxa2 p{
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    color: #111827;
    font-family: 'Noto Kufi Arabic', sans-serif;
    text-align: start;    padding-right: 15px;

}

.boxa2 h3{
    padding-bottom: 30px;
    padding-top: 15px;
    font-size: 16px;
    padding-right: 15px;
    line-height: 26px;
    color: #374151;
    text-align: start;
    font-weight: 400;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-style: normal;
   
}


.boxa3{
    border: 1px solid #E5E7EB;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 15px 15px -15px #E5E7EB;    
    border-radius: 12px;
}
.boxa3 p{
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 20px;
    padding-top: 10px;
        padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    color: #111827;
    font-family: 'Noto Kufi Arabic', sans-serif;
    text-align: start;

}

.boxa3 h3{
    padding-bottom: 30px;
    padding-top: 15px;
    font-size: 16px;
    padding-right: 15px;
    line-height: 26px;
    color: #374151;
    text-align: start;
    font-weight: 400;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-style: normal;
}


#shop{
    width: 100%;
    height: 142vh;
   padding-top: 90px;
   background-color: #ffffff;
}

input:focus{
    outline: none;
}

.myshop{
    text-align: center;
}

.myshop img{
    margin: 0 auto;
    display: block;
    width: 70%;
}

.myshop h1{
    font-size: 2rem;
    padding-bottom: 15px;
    line-height: 49px;
    font-size: 30px;
    color: #111827;
    font-weight: 700;
    font-style: normal;

}
.myshop h2{
    padding-bottom: 15px;
    line-height: 49px;
    font-size: 30px;
    color: #752651;
    font-weight: 700;
    font-style: normal;
   
}

.myshop p{
    color: #000000;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
}

.myshop input{
    width: 395px;
    height: 50px;
    border: 0.2px solid #E5E7EB;
    box-shadow: 0px 15px 15px -15px #E5E7EB;    
    padding: 12px 8px;
    margin: 0px 0px 0px 8px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.myshop button{
   width: 132px;
   height: 50px;
    background-color: #1FBADF;
    border: none;
    cursor: pointer;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #ffffff;
}
.myshop img{
    width: 50%;
}
.footer1{
    width: 90%;
    margin-left: 5%;
    background-color: #FEF2F2;
    height:90vh;
    border-radius: 15px;
}

.list ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list li{
    list-style: none;
    padding: 2rem;
    font-size: 18px;
    color: #752651;
    font-weight: 600;
    line-height: 28px;
    font-style: normal;
    font-family: "Noto Kufi Arabic", sans-serif;

}
.list a{
    text-decoration: none;
    font-size: 18px;
    color: #752651;
    font-weight: 900;
}


.list img{
    margin: 0 auto;
    display: block;
   width: 124px;
   height: 24.27px;
   margin-bottom: 30px;
}



.list2 ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.list2 li:hover{
    color: #5C1E40;
}
.list2 li{
    padding: 8px;  
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    font-family: "Noto Kufi Arabic", sans-serif;
}

.ul li:nth-child(1){
    font-size: 20px;
    color: #752651;
    font-weight: 700;
    font-weight: 700;
}
.ul li{
    color: #374151;
    font-size: 16px;
    
}
.list2{
    border-bottom: 1px solid #E5E7EB;
    width: 90%;
    margin-left: 5%;
}
.list2 li{
    list-style: none;
}

.social p{
    text-align: center;
}

.social{
    padding-top: 40px;
}
.social ul{
    display: flex;
    justify-content: center;
}

.social li{
    padding: 0.5rem;
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
   color:#752651;
}

.footer3{
    background-color: white;
text-align: center;
    height: 40px;
}

.footer3 p{
    font-size: 16px;
    padding-top: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}
.footer2{
    background-color: #5C1E40;
    height: 25vh;
    width: 100%;
    text-align: center;
    padding-top: 40px;
   
}
.footer2 h3{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}

.footer2 img{
    width: 10%;
    margin: 10px;
   
}



.parent1 {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    place-items : center;
}

.box11 img {
    margin: 0 auto;
    display: block;
    width: 100%;
    position:relative;
}

.box11 h1 {
    text-align:center;
    z-index:100;
    margin-top:-190px;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    position: relative;
    bottom: 80px;
}

.box22 {
    margin-right:40px;
    margin-top:160px;
}

.box22 h1{
    color: white;
    font-size: 36px;
    line-height: 59px;
    font-style: normal;
    width: 78%;
}
.box22 h2{
    color: white;
    font-size: 30px;
    line-height: 59px;
    font-weight: 600;
    font-style: normal;
    width: 79%;

}

.box22 h3{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width:77%;

}

.box22 input{
    width: 438px;
    height: 48px;
    border-radius: 4px;
    border: none;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    padding: 12px 8px;

}

.box22 button{
    width: 135px;
    height: 48px;
    background-color: #1FBADF;
    padding: 12px 8px;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
    color: white;
    cursor: pointer;
    border: none;
}
.box11 h1{
    color: white;
}
@media screen and (max-width:1090px) {
    .parent1 {
        grid-template-columns:repeat(1, 1fr);

    }

    .boxpare{
    background-color: white;
    height: 130vh;
    width: 90%;
    margin-left: 5%;
    border-radius: 22px;  
    box-shadow: 0px 15px 10px -15px #111;    
  
}
    .myshop{
        height: auto;
    }

    .myshop input{
        margin-bottom: 40px;
    }
    .box11 img {
       visibility: hidden;
    }
    #questions{
        height: auto;
    }

    .box22 {
        margin-top:auto !important;
        text-align: center;
    
    }
    .box22 h1{
        width: 100%;
        text-align: center;
        padding-bottom: 15px;

    }

    .box11 h1{
        margin-top:-auto !important;
        padding-bottom: 15px;
       
    }
    .box22 input{
        margin: 0 auto;
        display: block;
    }
    .box22 button{
        margin-bottom: 30px;
        margin-top: 10px;
        padding-bottom: 15px;

    }

    .box22 h2{
        width: 100%;
        margin-bottom: 12px;

    }

    .box22 h3{
        width: 100%;
        margin-bottom: 12px;
    }

    .list ul{
        flex-wrap: wrap;
    }

    .list2 ul{
        flex-wrap: wrap;
    }

    .footer1{
        height: auto;
    }

}

@media screen and (max-width:1096px){
   
    .boxpare button{
        margin-bottom: 2px;
        
    }

    .boxpare{
        height: 150vh;
        width: auto;
        margin-left: auto;
        border-radius: 22px;           
    }
    
     header{
         height: auto;
     }
     .box2 input{
         margin: 0 auto;
         display: block;
     }
     .box2 button{
         margin: 0 auto;
         display: block;
         margin-top: 11px;
     }

     #features{
         height: auto;
     }


     #questions{
         height: auto;
     }


     .box2 h1{
        text-align: center;
        width: 100%;
        
    }
    .box2 h2{
        text-align: center;
        width: 100%;
    }
    .box2 h3{
        text-align: center;
        width: 100%;
    }

  

}

@media screen and (max-width:850px){
    .logo img{
       position: absolute;
       right: 0;
       left: 0;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       margin-top: 12px;
       width: 20%;
       top: 0;
    }

       
    .boxa1{
        margin-left: 10px;
        margin-right: 10px;
    }
    .boxa2{
        margin-left: 10px;
        margin-right: 10px;
        }
    .boxa3{
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
        width: auto;
    }
  
        .boxpare{
            height: 350vh;
            width: auto;
            margin-left: auto;
            border-radius: 22px;           
        }
        
       
 
    .btns{
        margin-top: 50px;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3,1fr);
        
    }
   
    
    .box2{
        width: 100%;
    }
    .box2 h1{
        text-align: center;
        width: 100%;
        
    }
    .box2 h2{
        text-align: center;
        width: 100%;
    }
    .box2 h3{
        text-align: center;
        width: 100%;
    }
    header{
        height: auto;
    }
    .box2 input{
        margin: 0 auto;
        display: block;
    }
    .box2 button{
        margin: 0 auto;
        display: block;
        margin-top: 11px;
       
    }

    .footer1{
        width: 100%;
        margin-left: auto;
    }
    #shop{
        height: auto;
    }
}


